{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}About{% endblock %}
{% block content %}
    <div class="container-fluid">
        <h1 class="heading-text">About Me</h1>
        <div class="post-container">
            <div class="text-body">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam sint illum iure eligendi dolores porro accusamus animi eum necessitatibus sit doloribus iusto qui, repellat veritatis laudantium fugiat dicta quod natus temporibus blanditiis omnis atque quae commodi non? Excepturi, sunt ut. Quod iure, quo neque aliquam totam molestias exercitationem animi delectus dolores tenetur, similique reprehenderit numquam inventore nulla odit adipisci sint eos cum, fugit cumque temporibus minus deleniti. Ratione consequuntur numquam odio recusandae illum nostrum enim inventore rem, delectus sit, perspiciatis blanditiis ab! Aliquid nesciunt laudantium adipisci quibusdam consequatur beatae velit ipsum id placeat. Minima accusantium vel autem, earum sed impedit.</p>
            </div>
  
        </div>
    </div>
    
{% endblock %}